<h2>Register</h2>

<form #registrationForm="ngForm">
  <div class="form-group" 
       [class.has-success]="firstName.dirty && firstName.valid"
       [class.has-danger]="firstName.dirty && firstName.invalid">
    
    <label for="firstName">First Name</label>
    
    <input type="text" 
           class="form-control" 
           [class.form-control-success] = "firstName.valid" 
           [class.form-control-danger] = "firstName.invalid" 
           id="firstName" 
           #firstName="ngModel" 
           name="firstName" 
           [(ngModel)]="registrationViewModel.firstName" 
           required 
           placeholder="Enter first name" />
  </div>
  <div class="form-group" 
       [class.has-success]="lastName.dirty && lastName.valid"
       [class.has-danger]="lastName.dirty && lastName.invalid">

    <label for="lastName">Last Name</label>

    <input type="text" 
           class="form-control" 
           [class.form-control-success] = "lastName.valid" 
           [class.form-control-danger] = "lastName.invalid"
           id="lastName" 
           #lastName="ngModel" 
           name="lastName" 
           [(ngModel)]="registrationViewModel.lastName" 
           required 
           placeholder="Enter last name" />
  </div>
  <div class="form-group" 
       [class.has-success]="email.dirty && email.valid"
       [class.has-danger]="email.dirty && email.invalid">
    
    <label for="email">Email</label>
    
    <input type="email" 
           class="form-control" 
           [class.form-control-success] = "email.valid" 
           [class.form-control-danger] = "email.invalid"
           id="email" 
           #email="ngModel" 
           name="email" 
           [(ngModel)]="registrationViewModel.email" 
           required 
           placeholder="Enter email" />
  </div>
  <div class="form-group">
    <label for="biography">Biography</label>
    
    <textarea 
          class="form-control" 
          id="biography" 
          name="biography" 
          [(ngModel)]="registrationViewModel.biography" 
          rows="5" 
          placeholder="Enter biography">
    </textarea>
  </div>
  <div class="form-group"
       [class.has-success]="dob.dirty && dob.valid"
       [class.has-danger]="dob.dirty && dob.invalid">
    
    <label for="dob">DOB</label>
    
    <input type="date" 
           class="form-control" 
           [class.form-control-success] = "dob.valid" 
           [class.form-control-danger] = "dob.invalid"
           id="dob" 
           #dob="ngModel"
           name="dob" 
           [(ngModel)]="registrationViewModel.dob" 
           required 
           placeholder="Enter DOB" />
  </div>
  <div class="form-group" 
       [class.has-success]="teamId.dirty && teamId.valid"
       [class.has-danger]="teamId.dirty && teamId.invalid">

    <label for="teamId">Team</label>

    <select id="teamId" 
            #teamId="ngModel"
            name="teamId" 
            class="form-control" 
            [class.form-control-success] = "teamId.valid" 
            [class.form-control-danger] = "teamId.invalid"
            [(ngModel)]="registrationViewModel.teamId" 
            required>
      <option value="">Please Select...</option>
      <option *ngFor="let team of teamLookupList" [value]="team.Id">{{team.Name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="heightInFeet">Height</label>
    <div class="row">
      <div class="col-xs-4 col-sm-2 form-group"
           [class.has-success]="heightInFeet.dirty && heightInFeet.valid"
           [class.has-danger]="heightInFeet.dirty && heightInFeet.invalid">

        <input type="number" 
               class="form-control" 
               [class.form-control-success] = "heightInFeet.valid" 
               [class.form-control-danger] = "heightInFeet.invalid"
               id="heightInFeet" 
               #heightInFeet="ngModel" 
               name="heightInFeet" 
               [(ngModel)]="registrationViewModel.heightInFeet" 
               required 
               placeholder="Enter in feet" />
      </div>
      <div class="col-xs-1 height-label">feet</div>
      <div class="col-xs-4 col-sm-2 form-group"
           [class.has-success]="heightInInches.dirty && heightInInches.valid"
           [class.has-danger]="heightInInches.dirty && heightInInches.invalid">
        <input type="number" 
               class="form-control" 
               [class.form-control-success] = "heightInInches.valid" 
               [class.form-control-danger] = "heightInInches.invalid"
               id="heightInInches"
               #heightInInches="ngModel"
               name="heightInInches" 
               [(ngModel)]="registrationViewModel.heightInInches" 
               required 
               placeholder="Enter in inches" />
      </div>
      <div class="col-xs-1 height-label">inches</div>
    </div>
  </div>
  <div class="form-group"
       [class.has-success]="weight.dirty && weight.valid"
       [class.has-danger]="weight.dirty && weight.invalid">
    <label for="weight">Weight</label>
    <div class="row">
      <div class="col-xs-4 col-sm-2">
        <input type="number" 
               class="form-control" 
               [class.form-control-success] = "weight.valid" 
               [class.form-control-danger] = "weight.invalid"
               id="weight" 
               #weight="ngModel"
               name="weight" 
               [(ngModel)]="registrationViewModel.weight" 
               required 
               placeholder="Enter in pounds" />
      </div>
      <div class="col-xs-1 weight-label">lbs</div>
    </div>
  </div>
  <div class="form-group"
       [class.has-success]="position.dirty && position.valid"
       [class.has-danger]="position.dirty && position.invalid">
    <label for="pointGuard">Position</label>
    <div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" #position="ngModel" name="position" id="pointGuard" [(ngModel)]="registrationViewModel.position" required value="PointGuard" />
          Point Guard
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" #position="ngModel" name="position" id="shootingGuard" [(ngModel)]="registrationViewModel.position" value="ShootingGuard" />
          Shooting Guard
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" #position="ngModel" name="position" id="smallForward" [(ngModel)]="registrationViewModel.position" value="SmallForward" />
          Small Forward
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" #position="ngModel" name="position" id="powerForward" [(ngModel)]="registrationViewModel.position" value="PowerForward" />
          Power Forward
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" #position="ngModel" name="position" id="center" [(ngModel)]="registrationViewModel.position" value="Center" />
          Center
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="brokenFoot">Past Injuries</label>
    <div>
      <label class="form-check-inline" *ngFor="let injury of injuryLookupList; let i = index;">
        <input type="checkbox" class="form-check-input" [id]="injuryFieldList[i]" [name]="injuryFieldList[i]" [value]="injury" (change)="addOrRemoveInjury($event.target.value)" />
        {{injury}}
      </label>
    </div>
  </div>
  <div class="form-group"
        [class.has-success]="password.dirty && password.valid"
        [class.has-danger]="password.dirty && password.invalid">
    
    <label for="password">Password</label>
    
    <input type="password" 
            class="form-control" 
            [class.form-control-success] = "password.valid" 
            [class.form-control-danger] = "password.invalid"
            id="password"
            #password="ngModel" 
            name="password" 
            [(ngModel)]="registrationViewModel.password" 
            required 
            placeholder="Enter password" />
  </div>
  <div>
    <button type="button" class="btn btn-default btn-primary" [disabled]="registrationForm.form.invalid">Submit</button>
  </div>
</form>