<h2>Teams</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Winning %</th>
      <th>Games Behind</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let team of listOfTeams">
      <td>{{team.teamName}}</td>
      <td #wins>{{team.numberOfWins}}</td>
      <td>{{team.numberOfLosses}}</td>
      <td>{{team.winPercentage}}</td>
      <td>{{team.gamesBehind}}</td>
      <td>
        <a (click)="selectTeam(team)">
          <i class="fa fa-edit"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<app-team-edit [selectedTeam]="selectedTeam"></app-team-edit>