<form [formGroup]="teamEditForm" *ngIf="selectedTeam">
  <h2>Edit Team</h2>
  <div class="form-group" *ngFor="let field of formFields">
    <label [for]="field.key">{{field.label}}</label>
    
    <div [ngSwitch]="field.fieldType">
      <input *ngSwitchCase="0" [type]="field.inputTypeName" class="form-control" [formControlName]="field.key" [name]="field.key" [id]="field.key" [placeholder]="field.placeholder" />
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="saveTeam()">Submit</button>
</form>

<div *ngIf="showNotEditing">
  Please select a team above to edit it.
</div>